In [1]:
import pandas as pd
#1将数据集存入一个名为data的数据框内
data = pd.read_csv("./chipotle(1).tsv",sep="\t")
#2查看前十行内容
data.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [6]:

len(1)

TypeError: object of type 'int' has no len()

In [2]:
#3打印出全部的列的名称
print(len(data.columns))
#4数据集的索引
for i in data.columns:
    print(i)

5
order_id
quantity
item_name
choice_description
item_price

In [9]:
#5 数据集的索引的样子
data.index

RangeIndex(start=0, stop=4622, step=1)

In [64]:
#6.被下单数最多的商品
data["item_name"].value_counts().idxmax()

'Chicken Bowl'

In [87]:
#7.一种有多少种产品被下单
data["item_name"].nunique()

50

In [69]:
#8.一共有多少个产品被下单
item_number =  int(data["quantity"].cumsum().iloc[-1])

np.int64(4972)

In [89]:
#9将"item_price"转换为浮点数
data["item_price"] = data["item_price"].apply(lambda x:float(x.strip("$")))

In [78]:
#10.在该数据集对应的时期内,收入(revenue)是多少
data["revenue"] = data["quantity"] * data["item_price"]

,order_id,quantity,item_name,choice_description,item_price,revunue,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39,2.39
1,1,1,Izze,[Clementine],3.39,5.78,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,9.17,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,11.56,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,28.54,33.96
...,...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,34459.66,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,34471.41,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,34482.66,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,34491.41,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,34500.16,8.75

In [86]:
#11.在该数据集对应的时期内,一共有多少订单
data["order_id"].nunique()

1834

In [91]:
#12.每一单(order)对应的平均总价
data["item_price_quntity"] = data["quantity"] * data["item_price"]
data.groupby(by = "order_id")["item_price_quntity"].mean()

order_id
1        2.890000
2       33.960000
3        6.335000
4       10.500000
5        6.850000
          ...
1830    11.500000
1831     4.300000
1832     6.600000
1833    11.750000
1834     9.583333
Name: item_price_quntity, Length: 1834, dtype: float64